{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<style>
    .post {
      background-color: #fff;
      box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
      border-radius: 10px;
      padding: 25px;
      margin: 15px;
      transition: 0.7s ease;
    }
  
    .post:hover {
      background-color: #dedada;
    }
  </style>
{% load crispy_forms_tags %}  
    <div class="border p-3 mb-4 post">
        <img class="img-fluid rounded-circle" width="70px" src="{% static 'blog/images/default.png'%}" alt="">
        <span class="text-secondary">نشر في تاريخ {{ post.post_date|date:'d-m-Y' }}</span>
        {% if post.author == user  %}
        <div class="form-group btn-editing p-3 "  style="position: absolute; top:0; left: 0;">
            <a  class="btn btn-secondary" href="{% url 'update_post' post.id  %}" > تحرير </a>
            <a  class="btn btn-danger"  href="{% url 'delete_post' post.id  %}"> حذف </a>
        </div>
        {% endif %}
        <h3 class="title-of-title">{{ post.title }}</h3>
        <p>{{ post.content | safe  }}</p>
        {% if user.is_authenticated  %}
        <form id="like_form" method="post" action="{% url 'like_post' post.pk %}">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <!-- if not saved make icon fa-saved!-->
     
                <button type="button" id="like_button" style="border:none;background: transparent;"> 
                    {% if user in post.likes.all %}
                        <i class="fa-solid fa-bookmark"></i>
                    {% else %}
                        <i class="fa-regular fa-bookmark"></i>
                    {% endif %}
                </button>


        </form>
        {% endif %}
    </div>
    <h2 class="border-bottom mt-5 mb-3">التعليقات ({{ comments.count }})</h2>
    {% if comments %}
        {% for comment in comments %}
            <div class="mb-3 p-3 comment">
                <h6 class="border-bottom p-2">{{ comment.name }}<span> في {{ comment.comment_date|date:'d-m-Y' }}</span></h6>
                <p class="mb-0">{{ comment.body }}</p>
            </div>
        {% endfor %}
    {% else %}
        <div class="text-center mb-3 p-4 comment">
            <h5 class="mb-0">لا يوجد تعليقات</h5>
        </div>
    {% endif %}
    {% if user.is_authenticated  %}
    <h3 class="border-bottom pb-3 mb-3 mt-5">اضافة تعليق جديد</h3>
    <form method="POST" action="">
        {% csrf_token %}
        <input type="hidden" name="{{ comment_form.name.name }}" value="{{ comment_form.name.value }}">
        {{comment_form.body|as_crispy_field}}
        <input class="btn btn-secondary mb-4" type="submit" value="نشر التعليق">
    </form>
    {% endif %}
    <script>
        document.getElementById('like_button').addEventListener('click', function() {
            var form = document.getElementById('like_form');
            var formData = new FormData(form);
    
            fetch(form.action, {
                method: form.method,
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                // if the user has liked the post, change the icon to fa-saved 
                console.log(data.liked)
                if(data.liked) {
                    document.getElementById('like_button').innerHTML = '<i class="fa-solid fa-bookmark"></i>'
                } else {
                    document.getElementById('like_button').innerHTML = '<i class="fa-regular fa-bookmark"></i>'
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
{% endblock %}
