{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{message.tags}}">
          {{message}}
      </div>
    {% endfor %}
  {% endif %}

  {% for post in posts %}
    <div class="border p-3 mb-4 rounded border-dark ">
      <img class="img-fluid rounded-circle" width="70px" src="{{post.author.profile.image.url}}" alt="">
      <span class="text-secondary">نشر في تاريخ {{post.post_date|date:'d-m-Y'}}</span>
      <h3><a href="{% url 'detail' post.id %}" class="text-dark title-of-title">{{post.title}}</a></h3>

      {% if post.content|length > 200 %}
        <p>{{ post.content|slice:":150"| safe}}{% if post.content|length > 10 %}...{% endif %}</p>
        <button class="btn btn-secondary" onclick="showFullContent('{{ post.content|escapejs }}')" ><a href=" {% url 'detail' post.id %} " class="text-dark">اقرأ المزيد </a></button>
        <div id="postContent{{ post.id }}" style="display: none;">{{ post.content }}</div>
      {% else %}
        <p>{{ post.content | safe }}</p>
      {% endif %}

    </div>
  {% endfor %}

  {% include 'blog/pagination.html' with page=posts %}
  
  <script>
    function showFullContent(content) {
      var postContentDiv = document.getElementById('postContent' + '{{ post.id }}');
      if (postContentDiv){
        postContentDiv.innerHTML = content;
        postContentDiv.style.display = 'block';
      }
    }
  </script>
{% endblock %}
