{% extends 'blog/base.html' %}
{% load static %}
{% load embed_video_tags %}
{% load crispy_forms_tags %}  
{% block content %}
    <div class="border p-4 mb-5">
        {% if  user.username == 'abu-yaareb@moudawna.com' %}

        <div class="border p-4 mb-5">
            <h6 class="border-bottom pb-1 mb-3 ">اضافة لقاءات جديدة</h6>
            <form method="POST" action="">
                {% csrf_token %}
                {{form|crispy}}
                <input class="btn btn-secondary mt-4" type="submit" value="اضافة">
            </form>
        </div>
        {% endif %}
        <h3 class="border-bottom ">لقاءات البروفيسور أبو يعرب </h3>
        {% for item in videos %}
        <h3 class="text-dark title-of-title mb-3">         {{item.title}}
        </h3>
            <div class="embed-responsive embed-responsive-21by9 mb-3 mt-4 pb-1">
                {% video item.url 'small' %}
            </div>  
        
        {% endfor %}
    </div>
    {% include 'blog/pagination.html' with page=videos %}

{% endblock %}
